.banner{
    height: 120px;
    width: 100%;
    background-color: #eee;
}
.menu{
    width: 15%;
    height: 100vh;
    float: left;
    background-color:#ffffff;
    border-right: 1px solid #eee;
    ul{
        li{
            font-style: italic;
            font-size: 15px;
            font-weight: 500;
            color: #292929 !important;
            background-color:#ffffff;
            border-bottom: 1px solid #8a8a8a;
            padding: 10px !important;
            cursor: pointer;

            &:hover{
                background-color: #FFA500;
                color: #fff !important;
            }
        }
    }
}
.conteudo{
    width: 85%;
    float: right;
}