#modal-confirmation {
    width: 100% !important;

    .width-full {
        width: 100% !important;
    }

    .bto-fechar {
        font-size: 32px;
    }

    .tag-list {
        width: 100%;
    }
}
