<div class="flex flex-col flex-auto w-full">
  <div class="flex-wrap w-full mx-auto">

    <div class="card-header flex items-center justify-end mb-4" appearance="outline">
      <button type="button" routerLink="/cadastro" mat-flat-button color="accent">
          <mat-icon>directions_car</mat-icon> Cadastrar empresa
      </button>
    </div>

    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Corsa" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="seleciona">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <mat-cell *matCellDef="let element">
          
            <button mat-icon-button (click)="editar(element)"
                matTooltip="Editar carro" aria-label="Editar">
                <mat-icon class="text-yellow-500">edit</mat-icon>
            </button>

            <button  mat-icon-button
                matTooltip="Deletar carro" (click)="excluir(element)" aria-label="Deletar">
                <mat-icon class="text-red-500">delete</mat-icon>
            </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome da empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef> CNPJ </th>
        <td mat-cell *matCellDef="let element"> {{element.cnpj}} </td>
      </ng-container>

      <ng-container matColumnDef="quantidadeVagasMotos">
        <th mat-header-cell *matHeaderCellDef> Quantidade de vagas para motos </th>
        <td mat-cell *matCellDef="let element"> {{element.quantidadeVagasMotos}} </td>
      </ng-container>

      <ng-container matColumnDef="quantidadeVagasCarros">
        <th mat-header-cell *matHeaderCellDef> Quantidade de vagas para carros </th>
        <td mat-cell *matCellDef="let element"> {{element.quantidadeVagasCarros}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    
  </div>
</div>