<div class="flex flex-col w-full filter-article">
    <form [formGroup]="form">

        <div class="flex flex-row w-full p-4">
            <mat-label class="text-2xl font-semibold leading-tight border-b">Dados da empresa</mat-label>
        </div>
    
        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Nome da empresa</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>CNPJ</mat-label>
                <input matInput formControlName="cnpj">
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Quantidade de vagas para motos</mat-label>
                <input matInput formControlName="quantidadeVagasMotos">
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Quantidade de vagas para carros</mat-label>
                <input matInput formControlName="quantidadeVagasCarros">
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full p-4">
            <mat-label class="text-2xl font-semibold leading-tight border-b">Endereço</mat-label>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Estado, cidade e rua</mat-label>
                <input matInput formControlName="rua">
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Número</mat-label>
                <input matInput formControlName="numero">
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Complemento</mat-label>
                <input matInput formControlName="complemento">
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="telefone" mask="(00)99999-9999">
            </mat-form-field>
        </div>

        <div class="card-footer flex items-center justify-center mb-4 border-t" appearance="outline">
            <button class="mt-4 mr-8" type="button" (click)="salvar()" mat-flat-button color="accent">
                <mat-icon>save</mat-icon> Salvar
            </button>
            <button class="mt-4" type="button" (click)="voltar()" mat-flat-button color="accent">
                <mat-icon>reply_all</mat-icon> Voltar
            </button>
        </div>
                
    </form>
</div>

