<div class="flex flex-col w-full filter-article">
    <form [formGroup]="form">

        <div class="flex flex-row w-full p-4">
            <mat-label class="text-2xl font-semibold leading-tight border-b">Dados da empresa</mat-label>
        </div>
    
        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Nome da empresa</mat-label>
                <input matInput formControlName="nome">
                <!-- <mat-error *ngIf="form.get('nome').hasError('required')">
                    Nome da empresa é obrigatório
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>CNPJ</mat-label>
                <input matInput formControlName="cnpj">
                <!-- <mat-error *ngIf="form.get('cnpj').hasError('required')">
                    CNPJ da empresa é obrigatório
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Quantidade de vagas para motos</mat-label>
                <input matInput formControlName="quantidadeVagasMotos">
                <!-- <mat-error *ngIf="form.get('quantidadeVagasMotos').hasError('required')">
                    Quantidade de vagas para motos é obrigatório
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Quantidade de vagas para carros</mat-label>
                <input matInput formControlName="quantidadeVagasCarros">
                <!-- <mat-error *ngIf="form.get('quantidadeVagasCarros').hasError('required')">
                    Quantidade de vagas para carros é obrigatório
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full p-4">
            <mat-label class="text-2xl font-semibold leading-tight border-b">Endereço</mat-label>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Estado, cidade e rua</mat-label>
                <input matInput formControlName="rua">
                <!-- <mat-error *ngIf="form.get('rua').hasError('required')">
                    Rua é obrigatório
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Número</mat-label>
                <input matInput formControlName="numero">
                <!-- <mat-error *ngIf="form.get('numero').hasError('required')">
                    Número da empresa é obrigatório
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Complemento</mat-label>
                <input matInput formControlName="complemento">
                <!-- <mat-error *ngIf="form.get('complemento').hasError('required')">
                    Complemento da empresa é obrigatório
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="basis-1/4 mr-8">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="telefone" mask="(00)99999-9999">
                <!-- <mat-error *ngIf="form.get('telefone').hasError('required')">
                    Telefone da empresa é obrigatório
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="card-footer flex items-center justify-center mb-4 border-t" appearance="outline">
            <button class="mt-4 mr-8" type="button" (click)="salvar()" mat-flat-button color="accent">
                <mat-icon>save</mat-icon> Salvar
            </button>
            <button class="mt-4" type="button" (click)="voltar()" mat-flat-button color="accent">
                <mat-icon>reply_all</mat-icon> Voltar
            </button>
        </div>
                
    </form>
</div>

