<!-- <div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full">
        <div class="flex flex-row w-full">
            <h1>
                Olá esse é o sistema de cadastro e gestão do estacionamento clima tempo, otimizado e simplificado para facilitar o dia a dia.
            </h1>
        </div>  
        <div class="flex flex-row w-full">
            <h1>
                O estacionamento clima tempo foi fundado 11/04/2023, com a finalidade de prestar o melhor atendimento aos clientes !
            </h1>
        </div>  

        <div class="card-footer flex items-center justify-center p-8" appearance="outline">

            <button type="button" routerLink="/empresa" mat-flat-button color="accent">
                <mat-icon>work</mat-icon> Cadastrar empresas
            </button>

            <button type="button" routerLink="/carro" mat-flat-button color="grow">
                <mat-icon>directions_car</mat-icon> Cadastrar carros
            </button>
        </div>

    </div>
</div> -->


<div class="mt-4">
    
</div>
