<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card bg-blue-600 dark">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="item mt-2 flex flex-row content-center">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate border-b text-lime-100 content-center mt-2">
                    Cadastro de empresas
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="background flex flex-col flex-wrap p-6 sm:p-10">
        <empresa-cadastro class="w-full"></empresa-cadastro>
    </div>
</div>




